
body{
    direction: rtl;
    text-align: right;
}

.allright{
    text-align: right;
}

.list-description {

    border-left: 1px solid#e8e8e8;
    
    border-right:transparent;
}



.angle {
    border-width: 20px 0px 0px 20px;
}
.experience .angle {

    left:0;
    right: inherit;
}

@media only screen and (min-width: 992px)
{
    .list-img2{
        margin-left: -40px
    }
}
@media (min-width: 800px){
    .flexnav li{
        float:right;
    }


}


@media (max-width: 990px){
    body{
        text-align:center;
    }
        
    .menu-section ul li {
        text-align:right;
    }
}